CHROMA_PERSIST_DIR=./data/vector_store
API_HOST=0.0.0.0
API_PORT=8000
FASTAPI_URL=http://127.0.0.1:8000/api/chat

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

OPENAI_API_KEY=
KAKAO_API_KEY=
KAKAO_MAP_JS_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com/
Langsmith_API_KEY=
LANGSMITH_PROJECT="skn25_3rd_1team"

REST_API_KEY=

MONGO_URI=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
